html {
    height: 100vh;
}
body {
  /*background-repeat: no-repeat;
  background: linear-gradient(to bottom right, rgba(138,43,226,.6), rgba(255,69,0,1));*/
  background-color: #C0C0C0;
}
h2{
  padding: 0;
  margin: 0;
}
.header{
  background-color: #FAFAFA;
  color: #222;
  height: 120px;
  display: flex;
  flex-flow: row nowrap;
}
#menu{
  position: relative;
  height: 90%;
  width: 15%;
  display: flex;
  flex-flow: column nowrap;
  margin-left: 10px;
  justify-content: space-around;
  /*align-items: space-around;*/
}
#banner{
  position: relative;
  height: 90%;
  width: 80%;
  text-align: center;
}
#locator{
  position: relative;
  height: 90%;
  width: 40%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  /*align-items: space-around;*/
}
.header-text {
  width: 75px;
  height: 21px;
}
.header-button {
  width: 100px;
  height: 21px;
}
.prediction-container{
  /*background-color: #BF2424;*/
  background-color: #C0C0C0;
  box-shadow: 0px -2px 2px rgba(34,34,34,0.6);
  height: 300px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
.weather-contaier{
  /*background-color: #981D1D;*/
  background-color: #A9A9A9;
  box-shadow: 0px -2px 2px rgba(34,34,34,0.6);
  height: 300px;
}
.data-contaier{
  /*background-color: #721616;*/
  background-color: #808080;
  box-shadow: 0px -2px 2px rgba(34,34,34,0.6);
  height: 300px;
}
.footer{
  background-color: #696969;
  box-shadow: 0px -2px 2px rgba(34,34,34,0.6);
  height: 120px;
}
